<a href="https://colab.research.google.com/github/Yug-jain/Automation/blob/main/pro_134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving stars_with_gravity (1).csv to stars_with_gravity (1).csv

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv("stars_with_gravity (1).csv")

df.head()

   Unnamed: 0       Star_name    Distance  Mass Radius  radius     Gravity
0           0             Sun    0.000016   1.0      1    1.00  274.269161
1           1          Sirius    8.600000   2.1  1.71´    1.71  196.971800
2           2         Canopus  310.000000  15.0     71   71.00    0.816115
3           3  Alpha Centauri    4.400000   1.1    1.2    1.20  209.511165
4           4        Arcturus   37.000000   1.1     26   26.00    0.446296

In [8]:
#filtering the stars based on distance
bools =[]
for d in df.Distance:
    if d<=100:
        bools.append(True)
    else:
        bools.append(False)

In [9]:
is_dist = pd.Series(bools)

In [10]:
is_dist.head()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [11]:
star_dist=df[is_dist]

In [12]:

star_dist.reset_index(inplace=True,drop=True)
star_dist.head()

   Unnamed: 0       Star_name   Distance  Mass Radius  radius     Gravity
0           0             Sun   0.000016   1.0      1    1.00  274.269161
1           1          Sirius   8.600000   2.1  1.71´    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.2    1.20  209.511165
3           4        Arcturus  37.000000   1.1     26   26.00    0.446296
4           5            Vega  25.000000   2.2    2.7    2.70   82.769843

In [13]:
star_dist.shape

(332, 7)

In [14]:
#keep the stars having gravity similar to sun
gravity_bool = []
for g in star_dist.Gravity:
    if g<=350 and g>=150:
        gravity_bool.append(True)
    else :
        gravity_bool.append(False)

In [15]:
is_gravity = pd.Series(gravity_bool)

In [16]:
final_stars = star_dist[is_gravity]
final_stars.head()

    Unnamed: 0       Star_name   Distance   Mass Radius  radius     Gravity
0            0             Sun   0.000016  1.000      1   1.000  274.269161
1            1          Sirius   8.600000  2.100  1.71´   1.710  196.971800
2            3  Alpha Centauri   4.400000  1.100    1.2   1.200  209.511165
18          53        Tau Ceti  19.920000  0.783  0.893   0.893  269.299671
19          54   Delta Pavonis  10.480000  0.991   1.22   1.220  182.612698

In [17]:
final_stars.shape

(8, 7)

In [18]:
final_stars.reset_index(inplace=True,drop=True)

In [19]:
final_stars.head()

   Unnamed: 0       Star_name   Distance   Mass Radius  radius     Gravity
0           0             Sun   0.000016  1.000      1   1.000  274.269161
1           1          Sirius   8.600000  2.100  1.71´   1.710  196.971800
2           3  Alpha Centauri   4.400000  1.100    1.2   1.200  209.511165
3          53        Tau Ceti  19.920000  0.783  0.893   0.893  269.299671
4          54   Delta Pavonis  10.480000  0.991   1.22   1.220  182.612698

In [20]:
final_stars.to_csv("filtered_stars.csv")